body {
    margin: 0;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.app-container {
    width: 100vw;
    height: 100vh;
    background-color: #BDC3C7;
}

.appview {
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.appview sidebar {
    display: flex;
    flex: 0 0 320px;
    background-color: #ECF0F1;
    border-top: none;
    border-right: 1px solid #BDC3C7;
}

.appview view {
    display: flex;
    flex: 1 0;
}
