.sidebar {
    position: relative;
    width: 100%;
    padding: 15px 20px 15px 20px;
}

.sidebar button {
    width: 100%;
}

.sidebar > div {
    position: relative;
    width: 100%;
}
